rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /playlists/{uid} {
      allow read, update, delete, create: if request.auth.uid == uid;
    }
  }
}
